body {
    background-color: black;
}
html {
    color: white;
    text-align: left;
    margin: 0;
    font-size: 20px;
}
h1 {
    color: rgb(0, 255, 0);
    text-align: center;
}
#logo {
    width: 220px;
    height:185px;
    text-align: center;
    position:static;
    display: block;
    margin: 0px auto;
    border-radius: 50%;
    border-style: solid;
    border: 4px solid rgb(0, 255, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2px 2px 2px;
    overflow: hidden;
    background-color: #333;
    top: 0;
  }
  
  li {
    float: left;
    display: inline;
    margin: 0 0 0 10px auto;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: lighter;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color:rgb(0, 255, 0);
    font-size: 25px;
}
#caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.email1 {
  text-align: center;
}
.formulario { 
  margin-left: 50px;
}

.botao{ 
  width: 120px;
  height: 30px;
}