body {
    background-color: black;
    text-align: center;
    margin-top: 450px;
}
h1 {
    color: white;
}
.btn {
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.5s;
  }
  .btn.hover {
    border-radius: 16px;
  }